*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;  
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/home_bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*.container{
    padding: 10px 10%;
}*/
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px; 
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #f63650;
}

/*------------------about--------------------*/
#about {
    padding: 80px 0;
    color: #d0d0d0;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

/* Heading */
.sub-title {
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px;
}

/* Paragraph */
.about-col-2 p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 30px;
    color: #cfcfcf;
}

/* Tabs */
.tab-titles {
    display: flex;
    gap: 40px;
    margin-bottom: 25px;
}

.tab-links {
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    color: #bdbdbd;
    position: relative;
}

.tab-links.active-link {
    color: #ffffff;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

.tab-links.active-link::after {
    width: 100%;
}

/* Content */
.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.tab-contents ul {
    padding-left: 0;
}

.tab-contents ul li {
    list-style: none;
    margin-bottom: 15px;
    line-height: 1.6;
}

.tab-contents ul li span {
    font-weight: 600;
    color: #ff4d6d;
}

.tab-contents ul li small {
    display: block;
    font-size: 14px;
    color: #bdbdbd;
    margin-top: 4px;
}


.tab-contents ul ul {
    margin-top: 8px;
    padding-left: 20px;
    list-style-type: disc;
}

.tab-contents ul ul li {
    list-style: disc;
    margin-bottom: 6px;
    font-size: 14px;
    color: #cfcfcf;
}


/*--------------------portfolio------------------*/
#portfolio{
   padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}


/*-------------------------------contact---------------------*/
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
    color: #ffffff;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY((-5px));
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ffffff;
    transition: background 0.5s;
}

.btn:hover{
    background: #ff004f;
}

.btn.btn2{
    display: inline-block;
    background: #ff004f;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.footer {
    text-align: center;
    padding: 20px 0;
    color: #aaa;
    font-size: 14px;
    margin-top: 40px;
}

